body {
    margin: 0;
    padding: 0;
}

#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(57, 54, 54, 0.86);
    font-family: 'Lexend';
    font-size: 32px;
    align-items: center;
    font-weight: bold;
    height: 100px;
    align-items: center;
    display: flex;
}
ul li a {
    position: relative;
}
ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #ffffff;
    height: 3px;
    transition: all 0.7s;
}
ul li a:hover:after {
    width: 100%;
}

ul li a {
    transition: all 0.7s;
}

 ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
}
ul li a:hover {
    color: #fff;
    z-index: 1;
}
ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
}



ul li a:hover {
    color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.home {
    margin-left: 70px;
}

.aboutMe {
    margin-left: 150px;
}

.myExperiences {
    margin-left: 150px;
}

.whereStart {
    margin-left: 150px;
}

.pozadi-obrazek {
    background-image: url("/images/html-css.png");
}

.pozadi {

    opacity: 0.4;
}

.text {

}

#footer {
    width: 100%;
    background-color: rgba(57, 54, 54, 0.86);
    color: white;
    font-family: 'Lexend';
    font-size: 20px;
    height: 80px;
    align-items: center;
    position: absolute;
    display: flex;
    bottom: 0;
}

.copyright {
    margin-left: 70px;
}